:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: hsl(0, 0%, 96%);
  text-decoration: inherit;
  transition: color 0.16s ease-in-out;
}
a:hover {
  color: hsl(0, 0%, 96%, 0.70);
  transition: color 0.32s ease-in-out;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: box-shadow 0.32s ease-in-out;
}
button:hover {
  box-shadow: 0 0 12px 3.2px hsla(0, 0%, 96%, 0.32);
  transition: box-shadow 0.32s ease-in-out;
}
button:focus,
button:focus-visible {
  border-color: hsla(0, 0%, 96%, 0.64);
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

